<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/standardwidth %>

<section class="container section-block">
  <div class="row">
    <div class="col-lg-3">
      <p class="welcome-message">Hi, Nicholas</p>
      <p class="secondary-nav current-page"><a href="/account/bookings">My bookings</a></p>
      <p class="secondary-nav "><a href="/account/settings">Account settings</a></p>
      <p class="secondary-nav"><a href="/account/reset">Reset password</a></p>
    </div>
    <div class="col-lg-9">
      <h2>My upcoming bookings</h2>
      <section class="section-narrow">
      <% upcomingBookings.forEach(function(booking) { %>
      <div class="row align-items-center booking-listing">
        <a href="/rooms/<%= booking.room.id %>">
        <div class="col-2 align-self-stretch booking-image" style="background-image: url('/static/images/rooms/<%= booking.room.picture%>'); background-size: cover">
          <a href="/rooms/<%= booking.room.id %>">
            <span class="block-link"></span>
          </a>
        </div>
        <div class="room-info col-4">
          <p class="room-location"><%= booking.room.name %></p>
          <p class="room-time"><b><%= moment(booking.exactTime).format("D MMMM | HH:mm") %> - <%= moment(booking.exactTime).add(1, "hours").format("HH:mm") %></b></p>
        </div>
          <div class="col-6 booking-utilities align-self-stretch d-flex">
            <p class="room-code ">
              <span style="font-size: 0.5em;font-weight: 400;letter-spacing: 0px;">YOUR CODE:</span>
              <br>
              <%= booking.code %>
            </p>
            <div class="d-flex flex-grow-1 justify-content-end">
            <a href="/bookings/<%= booking.id %>/incidents/new" class="room-action-button btn btn-outline-warning">Report issue</a>
            <form class="room-action-form" action="/bookings/<%= booking.id %>?_method=DELETE" method="POST">
              <button class="room-action-button btn btn-danger">Cancel</button>
            </form>
            </div>
          </div>
      </div>
      <% }); %>
      </section>
      <h2>Past bookings</h2>
      <div class="row">
      <% pastRoomsAndReviews.forEach(function(room) { %>
        <div class="col-4">
          <img class="img-fluid" src="/static/images/rooms/<%= room.picture %>">
          <p class="room-card-title"><%= room.name %></p>
          <% if (room.hasReview == true) { %>
            <p class="text-faded"><i class="fas fa-check tickmark"></i>  Already reviewed </p>
          <% } else { %>
          <a href="/rooms/<%= room._id %>/reviews/new" class="btn btn-sm btn-outline-primary">Leave review</a>
          <% } %>
        </div>
      <% }) %>
      </div>
    </div>
  </div>


</section>

<% include ../partials/footer %>
