<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/standardwidth %>
<section class="section-block container">
  <div class="col-6 mx-auto">
    <h1 class="text-center pb-3">Edit practice room<h1>

    <form  method="POST" action="/rooms/<%= room.id %>?_method=PUT">
      <div class="form-row form-group">
        <div class="col">
          <input class="form-control" type="text" placeholder="Name" value="<%= room.name %>" name="room[name]">
        </div>
        <div class="col">
          <input class="form-control" type="text" placeholder="Location" value="<%= room.location %>" name="room[location]">
        </div>
      </div>
      <div class="form-group">
      <textarea class="form-control" type="text" placeholder="Description" name="room[description]"><%= room.description %></textarea>

      </div>
      <div class="form-row form-group">
        <div class="col-3">
          <input class="form-control" type="number" placeholder="Hourly price" value="<%= room.price_per_hour %>" name="room[price_per_hour]">
        </div>
        <div class="col-9">
          <input class="form-control" type="text" placeholder="Image name" value="<%= room.picture %>" name="room[picture]">
        </div>
      </div>

      <button style="display: block; margin: 0 auto" class="btn btn-submit btn-secondary" type="submit">Update room</button>
    </form>
  </div>
</section>

<% include ../partials/footer %>
