<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/standardwidth %>
<section class="section-block image-section">
  <h1>Search results</h1>
</section>
<section class="container section-block">
  <div class="row">
    <div class="room-filters col-lg-3">
      <div class="room-filter">
        <h3>Rooms availabe on:</h3>
        <div class="date-filter">
        <p><%= dateQuery %></p>
        </div>
      </div>
      <div class="room-filter">
        <h3>Price per hour:</h3>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
      <div class="room-filter">
        <h3>Features</h3>
        <input type="checkbox" name="uprightpiano" value="Upright piano">Upright piano<br>
        <input type="checkbox" name="grandpiano" value="Grand piano">Grand piano<br>
        <input type="checkbox" name="amplifier" value="Amplifier">Amplifier<br>
        <input type="checkbox" name="musicstand" value="Music stand">Music stand<br>
        <input type="checkbox" name="organ" value="Organ">Organ<br>
      </div>

    </div>
    <div class="col-lg-9">
    <% rooms.forEach(function(room) { %>
      <div class="row room-listing no-gutters">
        <div class="col-4 room-link" style="overflow: hidden; background-color: #000;">
          <a href="/rooms/<%= room.id %>">
            <div class="room-listing-image" style="background-image: url('/static/images/rooms/<%= room.picture%>')">
            </div>

          </a>
          <p class="room-link-text">More photos & reviews ></p>
        </div>
        <div class="col-8 room-listing-information">
          <div class="row d-flex justify-content-between">
            <div class="main-room-info">
              <a href="/rooms/<%= room.id %>" class="room-name"><h3><%= room.name %></h3></a>
              <p class="review"><span class="rating"><%
                var total_rating = 0;
                room.reviews.forEach(function(review) {
                  total_rating += review.rating;
                });
                var average = total_rating / room.reviews.length;
                for (i=0; i<average; i++) { %>★<% } %>
              </span></p>
            </div>
            <div class="price">
              <p class="price">€<%= room.price_per_hour %><% if ((room.price_per_hour*10)%10 !== 0) {%>0<% } %></p>
              <p class="unit"> per hour</p>
            </div>
          </div>
          <div class="row">
            <p><%= room.description %></p>
            <div class="row">
              <% for (i=0; i<12; i++) { %>
              <div class="col-3">
                <% var roomBookings = bookings.find(function(booking) {
                  return booking.id == room._id;
                });
                if (roomBookings.bookings.indexOf(i+8) == -1) {
                  if (currentUser) { %>
                <form id="<%= i %>" action="/rooms/<%= room.id %>/book/<%= i + 8 %>" method="POST">
                  <button type="submit" class="time-slot"><%=  i + 8 + ":00" %></button>
                </form>
                <% } else { %>
                <a id="<%= room.id + (i + 10) %>" class="time-slot enabled"> <%=  i + 8 + ":00" %></a>
                <% }
                } else { %>
                <div class="time-slot disabled"><%=  i + 8 + ":00" %></div>
                <% } %>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
    </div>
  </div>


<div class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

    </div>
  </div>
</div>


</section>
<script>
$(document).ready(function(){
    $(".time-slot.enabled").click(function(event) {
      var id = event.target.id.substring(0, event.target.id.length - 2);
      var time = parseInt(event.target.id.substring(event.target.id.length - 2)) - 1;

      $.ajax({
        type: "POST",
        url: "/loginmodal",
        data: {id: id, time: time},
        success: function(data) {
        $(".modal").modal();
        $(".modal-content").html(data);
        console.log(data);
      }});
    });
});
</script>
<% include ../partials/footer %>
