<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/standardwidth %>
<section class="d-flex breadcrumbs container-fluid section-narrow">
  <div class="breadcrumbs-items d-flex align-items-center justify-content-between">
    <p><a href="/">Home</a> &gt; <a href="/rooms">Rooms</a> &gt; <%= room.name %></p>
  </div>
</section>
<section class="container section-block">
  <% include ../partials/flashmessages %>
  <div class="row">
    <div class="col-12 col-md-7">
      <img class="img-fluid" src="/static/<%= room.picture %>">
    </div>
    <div class="col-12 col-md-5 d-flex flex-column room-info">
      <div class="room-info_core">
        <h1><%= room.name %></h1>
        <p class="room-location"><%= room.location %></p>
        <p><span class="rating"><%
          var total_rating = 0;
          room.reviews.forEach(function(review) {
            total_rating += review.rating;
          });
          var average = total_rating / room.reviews.length;
          for (i=0; i<average; i++) { %>★<% } %>
        </span>
        (<%= room.reviews.length %> review<% if (room.reviews.length !== 1) { %>s<% } %>)</p>
      </div>
      <p><%= room.description %></p>
      <div class="room-availability">
        <h3>Book now </h3>
        <div class="date-filter-room-show">
        <% if (typeof dateQuery == 'string' && dateQuery) { %>
        <input type="text" id="datepicker" placeholder="<%= moment(dateQuery, "MM-DD-YYYY").format("dddd, D MMMM") %>"></input>
        <% } else { %>
        <input type="text" id="datepicker" placeholder="Choose a date"></input>
        <% } %>
        </div>
        <div class="row" id="bookings">
          <% for (i=0; i<12; i++) { %>
          <div class="col-3">
            <% if (bookings.indexOf(i+8) == -1) {
              if (currentUser) { %>
            <a id="<%= i %>" class="time-slot" href="/rooms/pay?id=<%= room.id %>&date=<%= dateQuery %>&time=<%= i + 8 %>"><%=  i + 8 + ":00" %></a>
            <% } else { %>
            <!-- Just to clarify, i+10 is a quick way of ensuring all times are at least two digits long, to avoid problems when splicing the string. Quick & dirty! -->
            <a id="<%= room.id + (i + 10) %>" class="time-slot enabled"> <%=  i + 8 + ":00" %></a>
            <% }
            } else { %>
            <div class="time-slot disabled"><%=  i + 8 + ":00" %></div>
            <% } %>
          </div>
          <% } %>
        </div>

      </div>
      <!---- Admin room actions ----!>
      <% if (currentUser && currentUser.isAdmin == true) {%>
      <div class="mt-auto p-2">
        <a href="<%= "/rooms/" + room.id + "/edit" %>" class="btn btn-outline-info mr-1">Edit</a>
        <form class="same-line" action="/rooms/<%= room.id %>?_method=DELETE" method="POST">
          <button class="btn btn-outline-primary">Delete</button>
        </form>
      </div>
      <% } %>
    </div>

  </div>
</section>
<div class="container">
  <hr/>
</div>
<section class="container section-block">
  <h2>Reviews of this room</h2>
  <% room.reviews.forEach(function(review) { %>
  <div class="review-list">
      <p class="author"><%= review.author.name %> </p>
      <p class="rating"> <% for (i=0; i< review.rating; i++) { %>★<% } %></p>
      <p class="review"><%= review.text %></p>
  </div>
  <% }) %>
</section>
<div class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  // Popup modal if sommeone tries to book but isn't logged in
  $("#bookings").on("click", ".time-slot.enabled", function(event) {
    var id = event.target.id.substring(0, event.target.id.length - 2);
    var time = parseInt(event.target.id.substring(event.target.id.length - 2))-2;
    console.log(id + " is the id");

    $.ajax({
      type: "POST",
      url: "/loginmodal",
      data: {id: id, time: time},
      success: function(data) {
      $(".modal").modal();
      $(".modal-content").html(data);
      console.log(data);
    }});
  });

  $( "#datepicker" ).datepicker({
  inline: true, minDate: 0, maxDate: "+1M +10D", dateFormat: "DD, dd MM"
  });

  $("#datepicker").change(refreshBookings);

  function refreshBookings() {
    var date = $.datepicker.formatDate("mm-dd-yy", $("#datepicker").datepicker("getDate"));

    // Refresh the rooms
    $.ajax({
      type: "GET",
      url: "/rooms/<%= room._id %>/bookings-refresh?" + "date=" + date,
      success: function(data) {
        $("#bookings").hide();
        $("#bookings").html(data);
        $("#bookings").fadeIn("slow");
    }});
  }
});
</script>
<% include ../partials/footer %>
